body {
	padding-top: 50px;
}

#header {
	top: 0;
	padding: 0.5em 1em;
}

.listView {
	will-change: transform;
}

.listView-hidden {
	transform: translateX(-300px);
}

#place-list {
	padding: 5px;
	list-style:none;
	border: 1px solid;
	margin: 5%;
}

#place-list li {
	padding: 5px;
	position: relative;
	border-bottom: 1px solid;
	text-align: left;
}

#place-list li:last-child {
	border-bottom: none;
}
