body {
	padding-top: 50px;
}

#header {
	top: 0;
	padding: 0.5em 1em;
}

.listView {
	will-change: transform;
}

.listView-hidden {
	transform: translateX(-300px);
}

#place-list {
	padding: 5px;
	list-style:none;
	border: 1px solid;
	margin: 5%;
}

#place-list li {
	padding: 5px;
	position: relative;
	border-bottom: 1px solid;
	text-align: left;
}

.clicked {
	font-weight: bold;
}

#map {
	bottom:0px;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
}

@media (min-width: 768px) {
	.navbar-nav {float: none;}
	#place-list {
		margin: 0;
		border: none;
		text-align: justify;
	}
	#place-list li {
		/*border: solid 1px;*/
	}
}
